h1 {
  text-align: left;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: flex-start;
}
