.projects h1, .projects p {
  text-align: center;
}

.project-img {
  height: 200px;
}

.svg-inline--fa.fa-code {
  font-size: 25px;
  margin-top: 20px;
  color: rgba(151,78,222, 0.3);
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.project-description {
  font-size: 14px;
  color: black;
  text-align: justify;
}
