.projects h1, .projects p {
  text-align: center;
}

.project-img {
  height: 200px;
}

.svg-inline--fa.fa-code {
  font-size: 25px;
  margin-top: 20px;
  color: rgba(151,78,222, 0.3);
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; /* Switch to single column */
    gap: 20px; /* Adjust gap if necessary */
  }
}

.project-description {
  font-size: 14px;
  color: black;
  text-align: justify;
}
